<!DOCTYPE html>
<html>
<head>
    <title>My first Vue app</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>
<body>
<div id="app">
    <!-- 用简洁的模板语法来声明式地将数据渲染进 DOM 的系统 -->
    <button v-on:click="fun">button</button>
</div>

<script>
    // 每个 Vue 应用都是通过用 Vue 函数创建一个新的 Vue 实例开始的：
    new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!'
        },
        methods: {
            fun: function () {
                // 进行页面跳转，将 URL 替换为你想要跳转的页面的实际地址
                window.location.href = 'http://example.com';
            }
        }
    });
</script>


</body>
</html>
